body {
  background: url("images/mariobackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: "Bangers", cursive;
  color: red;
  font-size: 80px;
}

p {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.gifs {
  margin: 0;
}
/* container {
  background-color: white;
} */

/* gifButton {
  margin-right: 10px;
} */
